:root {
  --primary-color: #be3434;
  --white-color: #f0f0f0;
}

.primary {
  color: var(--primary-color);

  &::placeholder {
    color: color-mix(in srgb, var(--primary-color) 80%, var(--white-color) 100%);
  }
}

.secondary {
  color: #34b2be;
}

.accent {
  color: #8034be;
}